<div class="container">
  <form action="/get_anagram" method="post">
    Anagram me cap'n!
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Get anagrams!">
  </form>

  <p>Show a list of anagrams for "<%= @word %>"</p>
</div>
