<div class="container">
  <p>Anagrams for "<%= @word %>"</p>
  <% if @anagrams %>
    <%= erb :anagrams %>
  <% end %>

  <form action="/" method="post">
    Which word do you want anagrams for?
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Anagram me!">
  </form>
</div>
