<div class="container">
  <p>Show a list of anagrams for "<%= @word %>"</p>
  <p>There are <%= @anagram_matches.count %> angrams.</p>
  <ul>
    <% @anagram_matches.each do |match| %>
      <li><%= match %></li>
    <% end %>
  </ul>
</div>
